.pageContainer {
  background-color: rgba(244, 244, 244, 1);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: rgba(220, 220, 220, 0.25) 0px 4px 21px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(231, 231, 231, 1);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 12px;
}

.header img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.header span {
  color: rgba(168, 168, 168, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.dateInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dateInfo img {
  width: 16px;
  height: 16px;
}

.dateInfo span {
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.timeDisplay {
  color: rgba(51, 51, 51, 1);
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}

.checkInButton {
  background-color: rgba(61, 84, 249, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 112px;
  height: 40px;
}

.checkedOutButton {
  background-color: rgba(168, 168, 168, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 112px;
  height: 40px;
}